$colorPrimary: rgb(4, 4, 99);
$colorSecundary: white;
$colorGray: #ececec;
$timeTransition: .5s;
$colorWhite: #fff;
$DefaulText: #fff;
$DefaultBg: #bf1818;
$DefaultSubtitles: rgb(150, 132, 132);
$defaultTitles: black;

//----------------NAVTOP--------------

#nav-top{
    background-color: $colorPrimary;
}

#footer{
    background-color: $colorPrimary;
    color: $colorWhite;
}

#carousel-text{
   color: $colorSecundary;
   
}

#corousel-button{
    background-color: rgb(12, 12, 141);
    color: $DefaulText;
}
#moreCategoriesTitle{
    color: $DefaultSubtitles;
}

#carouselMostSeenTitle{
    color: $DefaultSubtitles;
}

.text-primay{
    color: $colorPrimary !important;
}

.background-gray-hover{
    transition: $timeTransition;
}

.background-gray-hover:hover{
    background-color: $colorGray;
}

input:focus, button:focus {
    outline: 0 !important;
}

a{
    text-decoration: none !important;
}

.background-icon-top-menu{
    background-color: $colorWhite;
    border-radius: 50%;
    color: $colorPrimary !important;
}

//-----------------NAVBAR----------------

#nav-bar{
    background-color: $colorSecundary;

}

#nav-bar a{
    color: $defaultTitles;
    transition: $timeTransition;
}

#nav-bar a:hover{
    color: $DefaultSubtitles;
}

.icon-color{
    color: $defaultTitles !important;
}