$colorPrimary: #bf1818;
$colorSecundary: #580000;
$colorFont: #fff;

#nav-top{
    background-color: $colorPrimary;
}

.font-color i{
    color: $colorFont;
}

.icons-class a{
    color: $colorFont;
}