$colorPrimary: #bf1818;
$colorSecundary: #580000;
$colorGray: #ececec;
$timeTransition: .5s;

#nav-top{
    background-color: $colorPrimary;
}

.text-primay{
    color: $colorPrimary !important;
}

.background-gray-hover{
    transition: $timeTransition;
}

.background-gray-hover:hover{
    background-color: $colorGray;
}

input:focus, button:focus {
    outline: 0 !important;
}